.place-item {
  width: 391px;
  height: 81px;
  display: grid;
  grid: 1fr/25% 50% 25%;
  background-color: #ebfbff;
  border-radius: 10px;
  margin: 20px;
}
.first {
  justify-self: center;
  align-self: center;
}
.second {
  margin: 0 10px 0 0;
}
.second p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}
.second p:nth-child(1) {
  padding-top: 7px;
}
.third {
  display: grid;
  place-items: center;
  background-color: #154a88;
  border-radius: 0 10px 10px 0;
}
