@import "/src/vars.scss";

.navbar {
  height: $nav-height;
  display: grid;
  grid: 1fr/1fr 1fr;
  background-color: #131313;
  color: #fff;
  padding-right: 30px;
}
.nav-links {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid: 1fr / repeat(4, max-content);
  column-gap: 20px;
  justify-content: end;
}
.nav-links a {
  color: inherit;
}
