<h2 class="about-title">acerca de</h2>
<img src="/assets/images/sketch.svg" alt="" />
<p class="text-about">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis velit recusandae
  cupiditate quae atque incidunt officiis dolorem.
</p>
<section class="about-cards">
  <div class="card">
    <div class="image-holder">
      <img src="/assets/images/landmark-solid-white.svg" alt="" />
    </div>
    <h3>Misión</h3>
    <p class="ow">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae eligendi
      nostrum expedita sint earum iusto obcaecati. Impedit pariatur labore
      corporis?
    </p>
  </div>
  <div class="card">
    <div class="image-holder">
      <img src="/assets/images/award-solid-white.svg" alt="" />
    </div>
    <h3>Visión</h3>
    <p class="ow">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae eligendi
      nostrum expedita sint earum iusto obcaecati. Impedit pariatur labore
      corporis?
    </p>
  </div>
  <div class="card">
    <div class="image-holder">
      <img src="/assets/images/heart-solid-white.svg" alt="" />
    </div>
    <h3>Colaboración</h3>
    <p class="ow">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae eligendi
      nostrum expedita sint earum iusto obcaecati. Impedit pariatur labore
      corporis?
    </p>
  </div>
</section>
